repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy custom_components/ecoflow_api/
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: pytest
        name: pytest
        entry: pytest tests/ --tb=short -q
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
